body{
    background-color: ;
}

.boton1{
    text-decoration: none;
    padding: 3px;
    padding-left: 3px;
    padding-right: 1,5px;
    font-family: 'Yomogi';
    font-size: 16px;
    color: #fdfdfd;
    background-color: #e78b21;
    border-radius: 15px;
    border: 3px #020e02;
}
.boton1:hover{
    opacity: 0.6;
    text-decoration: none;
}

.boton2{
    text-decoration: none;
    padding: 3px;
    padding-left: 3px;
    padding-right: 1,5px;
    font-family: 'Yomogi';
    font-size: 16px;
    color: #fdfdfd;
    background-color: #e78b21;
    border-radius: 15px;
    border: 3px #020e02;
}
.boton2:hover{
    opacity: 0.6;
    text-decoration: none;
}

.boton3{
    text-decoration: none;
    padding: 3px;
    padding-left: 3px;
    padding-right: 1,5px;
    font-family: 'Yomogi';
    font-size: 16px;
    color: #fdfdfd;
    background-color: #e78b21;
    border-radius: 15px;
    border: 3px #020e02;
}
.boton3:hover{
    opacity: 0.6;
    text-decoration: none;
}

.boton4{
    text-decoration: none;
    padding: 3px;
    padding-left: 3px;
    padding-right: 1,5px;
    font-family: 'Yomogi';
    font-size: 16px;
    color: #fdfdfd;
    background-color: #e78b21;
    border-radius: 15px;
    border: 3px #020e02;
}
.boton4:hover{
    opacity: 0.6;
    text-decoration: none;
}

.boton5{
    text-decoration: none;
    padding: 3px;
    padding-left: 3px;
    padding-right: 1,5px;
    font-family: 'Yomogi';
    font-size: 16px;
    color: #fdfdfd;
    background-color: #e78b21;
    border-radius: 15px;
    border: 3px #020e02;
}
.boton5:hover{
    opacity: 0.6;
    text-decoration: none;
}

.boton6{
    text-decoration: none;
    padding: 3px;
    padding-left: 3px;
    padding-right: 1,5px;
    font-family: 'Yomogi';
    font-size: 16px;
    color: #fdfdfd;
    background-color: #e78b21;
    border-radius: 15px;
    border: 3px #020e02;
}
.boton6:hover{
    opacity: 0.6;
    text-decoration: none;
}

.boton7{
    text-decoration: none;
    padding: 3px;
    padding-left: 3px;
    padding-right: 1,5px;
    font-family: 'Yomogi';
    font-size: 16px;
    color: #fdfdfd;
    background-color: #e78b21;
    border-radius: 15px;
    border: 3px #020e02;
}
.boton7:hover{
    opacity: 0.6;
    text-decoration: none;
}

.boton8{
    text-decoration: none;
    padding: 3px;
    padding-left: 3px;
    padding-right: 1,5px;
    font-family: 'Yomogi';
    font-size: 16px;
    color: #fdfdfd;
    background-color: #e78b21;
    border-radius: 15px;
    border: 3px #020e02;
}
.boton8:hover{
    opacity: 0.6;
    text-decoration: none;
}

.boton9{
    text-decoration: none;
    padding: 3px;
    padding-left: 3px;
    padding-right: 1,5px;
    font-family: 'Yomogi';
    font-size: 16px;
    color: #fdfdfd;
    background-color: #e78b21;
    border-radius: 15px;
    border: 3px #020e02;
}
.boton9:hover{
    opacity: 0.6;
    text-decoration: none;
}

.boton10{
    text-decoration: none;
    padding: 3px;
    padding-left: 3px;
    padding-right: 1,5px;
    font-family: 'Yomogi';
    font-size: 16px;
    color: #fdfdfd;
    background-color: #e78b21;
    border-radius: 15px;
    border: 3px #020e02;
}
.boton10:hover{
    opacity: 0.6;
    text-decoration: none;
}

.boton11{
    text-decoration: none;
    padding: 3px;
    padding-left: 3px;
    padding-right: 1,5px;
    font-family: 'Yomogi';
    font-size: 16px;
    color: #fdfdfd;
    background-color: #e78b21;
    border-radius: 15px;
    border: 3px #020e02;
}
.boton11:hover{
    opacity: 0.6;
    text-decoration: none;
}

.boton12{
    text-decoration: none;
    padding: 3px;
    padding-left: 3px;
    padding-right: 1,5px;
    font-family: 'Yomogi';
    font-size: 16px;
    color: #fdfdfd;
    background-color: #e78b21;
    border-radius: 15px;
    border: 3px #020e02;
}
.boton:hover{
    opacity: 0.6;
    text-decoration: none;
}

.boton{
    text-decoration: none;
    padding: 3px;
    padding-left: 3px;
    padding-right: 1,5px;
    font-family: 'Yomogi';
    font-size: 16px;
    color: #fdfdfd;
    background-color: #e78b21;
    border-radius: 15px;
    border: 3px #020e02;
}
.boton:hover{
    opacity: 0.6;
    text-decoration: none;
}

.boton{
    text-decoration: none;
    padding: 3px;
    padding-left: 3px;
    padding-right: 1,5px;
    font-family: 'Yomogi';
    font-size: 16px;
    color: #fdfdfd;
    background-color: #e78b21;
    border-radius: 15px;
    border: 3px #020e02;
}
.boton:hover{
    opacity: 0.6;
    text-decoration: none;
}

.boton{
    text-decoration: none;
    padding: 3px;
    padding-left: 3px;
    padding-right: 1,5px;
    font-family: 'Yomogi';
    font-size: 16px;
    color: #fdfdfd;
    background-color: #e78b21;
    border-radius: 15px;
    border: 3px #020e02;
}
.boton:hover{
    opacity: 0.6;
    text-decoration: none;
}

.boton{
    text-decoration: none;
    padding: 3px;
    padding-left: 3px;
    padding-right: 1,5px;
    font-family: 'Yomogi';
    font-size: 16px;
    color: #fdfdfd;
    background-color: #e78b21;
    border-radius: 15px;
    border: 3px #020e02;
}
.boton:hover{
    opacity: 0.6;
    text-decoration: none;
}

.boton{
    text-decoration: none;
    padding: 3px;
    padding-left: 3px;
    padding-right: 1,5px;
    font-family: 'Yomogi';
    font-size: 16px;
    color: #fdfdfd;
    background-color: #e78b21;
    border-radius: 15px;
    border: 3px #020e02;
}
.boton:hover{
    opacity: 0.6;
    text-decoration: none;
}

.boton{
    text-decoration: none;
    padding: 3px;
    padding-left: 3px;
    padding-right: 1,5px;
    font-family: 'Yomogi';
    font-size: 16px;
    color: #fdfdfd;
    background-color: #e78b21;
    border-radius: 15px;
    border: 3px #020e02;
}
.boton:hover{
    opacity: 0.6;
    text-decoration: none;
}

.boton{
    text-decoration: none;
    padding: 3px;
    padding-left: 3px;
    padding-right: 1,5px;
    font-family: 'Yomogi';
    font-size: 16px;
    color: #fdfdfd;
    background-color: #e78b21;
    border-radius: 15px;
    border: 3px #020e02;
}
.boton:hover{
    opacity: 0.6;
    text-decoration: none;
}

.boton{
    text-decoration: none;
    padding: 3px;
    padding-left: 3px;
    padding-right: 1,5px;
    font-family: 'Yomogi';
    font-size: 16px;
    color: #fdfdfd;
    background-color: #e78b21;
    border-radius: 15px;
    border: 3px #020e02;
}
.boton:hover{
    opacity: 0.6;
    text-decoration: none;
}

.boton{
    text-decoration: none;
    padding: 3px;
    padding-left: 3px;
    padding-right: 1,5px;
    font-family: 'Yomogi';
    font-size: 16px;
    color: #fdfdfd;
    background-color: #e78b21;
    border-radius: 15px;
    border: 3px #020e02;
}
.boton:hover{
    opacity: 0.6;
    text-decoration: none;
}

.boton{
    text-decoration: none;
    padding: 3px;
    padding-left: 3px;
    padding-right: 1,5px;
    font-family: 'Yomogi';
    font-size: 16px;
    color: #fdfdfd;
    background-color: #e78b21;
    border-radius: 15px;
    border: 3px #020e02;
}
.boton:hover{
    opacity: 0.6;
    text-decoration: none;
}

.boton{
    text-decoration: none;
    padding: 3px;
    padding-left: 3px;
    padding-right: 1,5px;
    font-family: 'Yomogi';
    font-size: 16px;
    color: #fdfdfd;
    background-color: #e78b21;
    border-radius: 15px;
    border: 3px #020e02;
}
.boton:hover{
    opacity: 0.6;
    text-decoration: none;
}